html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

.header {
    background-color:lightgray;
    padding: 15px;
}

.logo {
    width: 100px;
    padding-top: 10px;
    margin-left:20px;
}

.header form {
    margin-top: 10px;
}

.search-form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

.search-form input:hover {
    border-bottom: 1px solid orange;
}

.search-btn {
    background:transparent;
    border: none;
    border-bottom: 1px solid darkorange;
    color: black;
    margin-left: 15px;
}

#detailed {
    color: orange;
    font-size: 5px;
    margin-top:5px;
}

/*MENU*/

.menu {
    background-color: rgb(21, 34, 48);
    height: 40px;
}

.nav {
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    color: whitesmoke;
    padding: 0 20px;
}


.nav li:hover {
    background-color: orange;
    color: black;
    border: none;
    cursor: pointer;
}


 /*CSS TO TEMPLATE*/

.jumbotron {
    margin: 40px 30px 20px 30px;
}

.btn-read-more
{
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid orange;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:black;
}

.btn-read-more:hover
{
    color: #FFF;
    background: orange;
}
.post { border-bottom:1px solid #DDD }
.post-title {  color:#662D91; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}
